# Imports

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Get the data

In [2]:
CHOSEN_SHEETS = ["England", "Scotland", "Wales", "Northern Ireland"]

summary_1819 = pd.read_excel(r"data/summary_data_2018_2019.xls", skiprows = 5, nrows = 37, sheet_name = CHOSEN_SHEETS) #skip nhs placement questions
summary_2122 = pd.read_excel(r"data/summary_data_2021_2022.xls", skiprows = 5, nrows = 37, sheet_name = CHOSEN_SHEETS) #skip nhs placement questions

summary_1819

{'England':                                            Unnamed: 0  % agree  Responses  \
 0                           The teaching on my course      NaN        NaN
 1            1 - Staff are good at explaining things.     89.0   251764.0
 2        2 - Staff have made the subject interesting.     82.0   251586.0
 3       3 - The course is intellectually stimulating.     85.0   251659.0
 4   4 - My course has challenged me to achieve my ...     81.0   251723.0
 5                              Learning opportunities      NaN        NaN
 6   5 - My course has provided me with opportuniti...     84.0   251730.0
 7   6 - My course has provided me with opportuniti...     85.0   251561.0
 8   7 - My course has provided me with opportuniti...     81.0   251519.0
 9                             Assessment and feedback      NaN        NaN
 10  8 - The criteria used in marking have been cle...     72.0   251630.0
 11          9 - Marking and assessment has been fair.     72.0   251484.0
 12           10 - Feedback on my work has been timely     74.0   251535.0
 13  11 - I have received helpful comments on my work.     73.0   251609.0
 14                                   Academic support      NaN        NaN
 15  12 - I have been able to contact staff when I ...     86.0   251462.0
 16  13 - I have received sufficient advice and gui...     78.0   251545.0
 17  14 - Good advice was available when I needed t...     75.0   247252.0
 18                        Organisation and management      NaN        NaN
 19  15 - The course is well organised and running ...     69.0   251751.0
 20       16 - The timetable works efficiently for me.     78.0   251613.0
 21  17 - Any changes in the course or teaching hav...     76.0   249914.0
 22                                 Learning resources      NaN        NaN
 23  18 - The IT resources and facilities provided ...     83.0   250075.0
 24  19 - The library resources (e.g. books, online...     87.0   250140.0
 25  20 - I have been able to access course-specifi...     87.0   248291.0
 26                                 Learning community      NaN        NaN
 27  21 - I feel part of a community of staff and s...     70.0   250886.0
 28  22 - I have had the right opportunities to wor...     85.0   250522.0
 29                                      Student voice      NaN        NaN
 30  23 - I have had the right opportunities to pro...     84.0   250945.0
 31  24 - Staff value students’ views and opinions ...     76.0   250575.0
 32  25 - It is clear how students’ feedback on the...     62.0   249484.0
 33                                    Students' union      NaN        NaN
 34  26 - The students’ union (association or guild...     57.0   240421.0
 35                               Overall satisfaction      NaN        NaN
 36  27 - Overall, I am satisfied with the quality ...     83.0   250575.0

     % agree.1  Responses.1  % agree.2  Responses.2  % agree.3  Responses.3
 0         NaN          NaN        NaN          NaN        NaN          NaN
 1        86.0      19630.0       89.0     259777.0       86.0      21234.0
 2        82.0      19661.0       82.0     259593.0       80.0      21227.0
 3        89.0      20002.0       84.0     259704.0       88.0      21553.0
 4        84.0      19993.0       81.0     259749.0       84.0      21536.0
 5         NaN          NaN        NaN          NaN        NaN          NaN
 6        85.0      19980.0       84.0     259722.0       85.0      21538.0
 7        84.0      19931.0       85.0     259638.0       83.0      21501.0
 8        79.0      19792.0       81.0     259525.0       80.0      21361.0
 9         NaN          NaN        NaN          NaN        NaN          NaN
 10       79.0      19995.0       72.0     259640.0       79.0      21550.0
 11       82.0      19966.0       72.0     259514.0       81.0      21523.0
 12       82.0      19982.0       74.0     259542.0       82.0      21535.0
 13       84.0      19983.0       74.0     259583.0       85.0      21537.0
 14        NaN          NaN        NaN          NaN        NaN          NaN
 15       85.0      19693.0       86.0     259412.0       86.0      21279.0
 16       80.0      19899.0       78.0     259585.0       79.0      21459.0
 17       74.0      18976.0       75.0     255287.0       75.0      20530.0
 18        NaN          NaN        NaN          NaN        NaN          NaN
 19       76.0      19980.0       70.0     259789.0       76.0      21543.0
 20       79.0      19811.0       78.0     259666.0       78.0      21377.0
 21       79.0      18904.0       77.0     257725.0       79.0      20392.0
 22        NaN          NaN        NaN          NaN        NaN          NaN
 23       81.0      19505.0       83.0     257821.0       82.0      20977.0
 24       82.0      19389.0       87.0     257983.0       82.0      20899.0
 25       84.0      19226.0       87.0     256086.0       85.0      20765.0
 26        NaN          NaN        NaN          NaN        NaN          NaN
 27       57.0      19591.0       69.0     258866.0       56.0      21150.0
 28       67.0      19123.0       85.0     258595.0       66.0      20641.0
 29        NaN          NaN        NaN          NaN        NaN          NaN
 30       77.0      19732.0       85.0     258953.0       76.0      21306.0
 31       69.0      19442.0       76.0     258576.0       68.0      20982.0
 32       47.0      18984.0       62.0     257565.0       47.0      20550.0
 33        NaN          NaN        NaN          NaN        NaN          NaN
 34       48.0      16689.0       56.0     248105.0       47.0      18059.0
 35        NaN          NaN        NaN          NaN        NaN          NaN
 36       85.0      19941.0       83.0     258603.0       85.0      21503.0  ,
 'Scotland':                                            Unnamed: 0  % agree  Responses  \
 0                           The teaching on my course      NaN        NaN
 1            1 - Staff are good at explaining things.     89.0    23830.0
 2        2 - Staff have made the subject interesting.     83.0    23812.0
 3       3 - The course is intellectually stimulating.     85.0    23824.0
 4   4 - My course has challenged me to achieve my ...     80.0    23827.0
 5                              Learning opportunities      NaN        NaN
 6   5 - My course has provided me with opportuniti...     83.0    23819.0
 7   6 - My course has provided me with opportuniti...     84.0    23816.0
 8   7 - My course has provided me with opportuniti...     78.0    23800.0
 9                             Assessment and feedback      NaN        NaN
 10  8 - The criteria used in marking have been cle...     71.0    23826.0
 11          9 - Marking and assessment has been fair.     73.0    23800.0
 12           10 - Feedback on my work has been timely     64.0    23811.0
 13  11 - I have received helpful comments on my work.     69.0    23818.0
 14                                   Academic support      NaN        NaN
 15  12 - I have been able to contact staff when I ...     87.0    23782.0
 16  13 - I have received sufficient advice and gui...     76.0    23777.0
 17  14 - Good advice was available when I needed t...     70.0    23093.0
 18                        Organisation and management      NaN        NaN
 19  15 - The course is well organised and running ...     64.0    23829.0
 20       16 - The timetable works efficiently for me.     79.0    23799.0
 21  17 - Any changes in the course or teaching hav...     75.0    23651.0
 22                                 Learning resources      NaN        NaN
 23  18 - The IT resources and facilities provided ...     83.0    23644.0
 24  19 - The library resources (e.g. books, online...     87.0    23618.0
 25  20 - I have been able to access course-specifi...     88.0    23440.0
 26                                 Learning community      NaN        NaN
 27  21 - I feel part of a community of staff and s...     68.0    23776.0
 28  22 - I have had the right opportunities to wor...     86.0    23708.0
 29                                      Student voice      NaN        NaN
 30  23 - I have had the right opportunities to pro...     86.0    23739.0
 31  24 - Staff value students’ views and opinions ...     74.0    23705.0
 32  25 - It is clear how students’ feedback on the...     55.0    23577.0
 33                                    Students' union      NaN        NaN
 34  26 - The students’ union (association or guild...     52.0    22554.0
 35                               Overall satisfaction      NaN        NaN
 36  27 - Overall, I am satisfied with the quality ...     83.0    23699.0

     % agree.1  Responses.1  % agree.2  Responses.2  % agree.3  Responses.3
 0         NaN          NaN        NaN          NaN        NaN          NaN
 1        86.0        692.0       90.0      23821.0       90.0        671.0
 2        81.0        692.0       83.0      23810.0       86.0        673.0
 3        86.0        694.0       86.0      23820.0       88.0        673.0
 4        80.0        695.0       81.0      23827.0       85.0        671.0
 5         NaN          NaN        NaN          NaN        NaN          NaN
 6        84.0        695.0       84.0      23819.0       85.0        673.0
 7        83.0        694.0       84.0      23807.0       88.0        671.0
 8        79.0        690.0       79.0      23798.0       83.0        670.0
 9         NaN          NaN        NaN          NaN        NaN          NaN
 10       78.0        694.0       72.0      23819.0       78.0        673.0
 11       79.0        694.0       73.0      23809.0       79.0        672.0
 12       68.0        694.0       66.0      23807.0       74.0        673.0
 13       75.0        695.0       70.0      23809.0       74.0        673.0
 14        NaN          NaN        NaN          NaN        NaN          NaN
 15       88.0        691.0       87.0      23784.0       88.0        673.0
 16       81.0        693.0       77.0      23783.0       82.0        669.0
 17       73.0        652.0       71.0      23048.0       73.0        608.0
 18        NaN          NaN        NaN          NaN        NaN          NaN
 19       69.0        695.0       68.0      23824.0       71.0        673.0
 20       80.0        690.0       79.0      23803.0       79.0        663.0
 21       78.0        685.0       76.0      23627.0       79.0        658.0
 22        NaN          NaN        NaN          NaN        NaN          NaN
 23       84.0        683.0       84.0      23603.0       87.0        656.0
 24       83.0        682.0       88.0      23636.0       87.0        650.0
 25       81.0        665.0       88.0      23431.0       87.0        639.0
 26        NaN          NaN        NaN          NaN        NaN          NaN
 27       60.0        685.0       67.0      23750.0       57.0        651.0
 28       80.0        680.0       86.0      23717.0       80.0        653.0
 29        NaN          NaN        NaN          NaN        NaN          NaN
 30       82.0        695.0       87.0      23750.0       85.0        670.0
 31       72.0        688.0       75.0      23708.0       74.0        671.0
 32       53.0        682.0       56.0      23587.0       51.0        665.0
 33        NaN          NaN        NaN          NaN        NaN          NaN
 34       45.0        577.0       53.0      22580.0       49.0        558.0
 35        NaN          NaN        NaN          NaN        NaN          NaN
 36       83.0        693.0       84.0      23705.0       86.0        671.0  ,
 'Wales':                                            Unnamed: 0  % agree  Responses  \
 0                           The teaching on my course      NaN        NaN
 1            1 - Staff are good at explaining things.     90.0    15555.0
 2        2 - Staff have made the subject interesting.     83.0    15541.0
 3       3 - The course is intellectually stimulating.     85.0    15550.0
 4   4 - My course has challenged me to achieve my ...     82.0    15557.0
 5                              Learning opportunities      NaN        NaN
 6   5 - My course has provided me with opportuniti...     84.0    15552.0
 7   6 - My course has provided me with opportuniti...     85.0    15542.0
 8   7 - My course has provided me with opportuniti...     82.0    15536.0
 9                             Assessment and feedback      NaN        NaN
 10  8 - The criteria used in marking have been cle...     75.0    15547.0
 11          9 - Marking and assessment has been fair.     75.0    15545.0
 12           10 - Feedback on my work has been timely     75.0    15536.0
 13  11 - I have received helpful comments on my work.     76.0    15543.0
 14                                   Academic support      NaN        NaN
 15  12 - I have been able to contact staff when I ...     87.0    15543.0
 16  13 - I have received sufficient advice and gui...     81.0    15534.0
 17  14 - Good advice was available when I needed t...     77.0    15182.0
 18                        Organisation and management      NaN        NaN
 19  15 - The course is well organised and running ...     69.0    15554.0
 20       16 - The timetable works efficiently for me.     78.0    15546.0
 21  17 - Any changes in the course or teaching hav...     77.0    15462.0
 22                                 Learning resources      NaN        NaN
 23  18 - The IT resources and facilities provided ...     84.0    15440.0
 24  19 - The library resources (e.g. books, online...     87.0    15470.0
 25  20 - I have been able to access course-specifi...     87.0    15304.0
 26                                 Learning community      NaN        NaN
 27  21 - I feel part of a community of staff and s...     72.0    15500.0
 28  22 - I have had the right opportunities to wor...     85.0    15442.0
 29                                      Student voice      NaN        NaN
 30  23 - I have had the right opportunities to pro...     86.0    15488.0
 31  24 - Staff value students’ views and opinions ...     79.0    15465.0
 32  25 - It is clear how students’ feedback on the...     64.0    15396.0
 33                                    Students' union      NaN        NaN
 34  26 - The students’ union (association or guild...     59.0    14842.0
 35                               Overall satisfaction      NaN        NaN
 36  27 - Overall, I am satisfied with the quality ...     85.0    15469.0

     % agree.1  Responses.1  % agree.2  Responses.2  % agree.3  Responses.3
 0         NaN          NaN        NaN          NaN        NaN          NaN
 1        88.0        576.0       90.0      15751.0       88.0        459.0
 2        84.0        576.0       84.0      15734.0       83.0        460.0
 3        84.0        578.0       85.0      15747.0       85.0        462.0
 4        82.0        577.0       82.0      15743.0       83.0        462.0
 5         NaN          NaN        NaN          NaN        NaN          NaN
 6        82.0        577.0       85.0      15745.0       81.0        461.0
 7        83.0        577.0       86.0      15739.0       83.0        460.0
 8        81.0        574.0       83.0      15736.0       82.0        461.0
 9         NaN          NaN        NaN          NaN        NaN          NaN
 10       78.0        576.0       75.0      15741.0       76.0        461.0
 11       82.0        572.0       75.0      15734.0       79.0        461.0
 12       79.0        573.0       75.0      15742.0       73.0        461.0
 13       80.0        573.0       76.0      15736.0       75.0        461.0
 14        NaN          NaN        NaN          NaN        NaN          NaN
 15       86.0        578.0       88.0      15727.0       88.0        461.0
 16       79.0        577.0       80.0      15727.0       81.0        463.0
 17       75.0        556.0       77.0      15414.0       80.0        446.0
 18        NaN          NaN        NaN          NaN        NaN          NaN
 19       71.0        576.0       70.0      15748.0       71.0        463.0
 20       78.0        571.0       79.0      15731.0       83.0        458.0
 21       77.0        571.0       78.0      15681.0       77.0        456.0
 22        NaN          NaN        NaN          NaN        NaN          NaN
 23       78.0        557.0       84.0      15611.0       79.0        457.0
 24       80.0        562.0       87.0      15635.0       82.0        448.0
 25       77.0        556.0       88.0      15524.0       81.0        457.0
 26        NaN          NaN        NaN          NaN        NaN          NaN
 27       66.0        565.0       72.0      15702.0       69.0        456.0
 28       83.0        552.0       86.0      15666.0       84.0        445.0
 29        NaN          NaN        NaN          NaN        NaN          NaN
 30       80.0        573.0       87.0      15719.0       82.0        461.0
 31       77.0        574.0       79.0      15696.0       79.0        463.0
 32       57.0        569.0       66.0      15622.0       60.0        452.0
 33        NaN          NaN        NaN          NaN        NaN          NaN
 34       47.0        468.0       59.0      15032.0       49.0        373.0
 35        NaN          NaN        NaN          NaN        NaN          NaN
 36       83.0        577.0       85.0      15671.0       82.0        463.0  ,
 'Northern Ireland':                                            Unnamed: 0  % agree  Responses  \
 0                           The teaching on my course      NaN        NaN
 1            1 - Staff are good at explaining things.     89.0     7469.0
 2        2 - Staff have made the subject interesting.     82.0     7462.0
 3       3 - The course is intellectually stimulating.     85.0     7467.0
 4   4 - My course has challenged me to achieve my ...     83.0     7466.0
 5                              Learning opportunities      NaN        NaN
 6   5 - My course has provided me with opportuniti...     83.0     7466.0
 7   6 - My course has provided me with opportuniti...     85.0     7462.0
 8   7 - My course has provided me with opportuniti...     84.0     7461.0
 9                             Assessment and feedback      NaN        NaN
 10  8 - The criteria used in marking have been cle...     73.0     7459.0
 11          9 - Marking and assessment has been fair.     75.0     7463.0
 12           10 - Feedback on my work has been timely     69.0     7451.0
 13  11 - I have received helpful comments on my work.     73.0     7459.0
 14                                   Academic support      NaN        NaN
 15  12 - I have been able to contact staff when I ...     87.0     7452.0
 16  13 - I have received sufficient advice and gui...     80.0     7464.0
 17  14 - Good advice was available when I needed t...     75.0     7299.0
 18                        Organisation and management      NaN        NaN
 19  15 - The course is well organised and running ...     70.0     7464.0
 20       16 - The timetable works efficiently for me.     81.0     7463.0
 21  17 - Any changes in the course or teaching hav...     77.0     7427.0
 22                                 Learning resources      NaN        NaN
 23  18 - The IT resources and facilities provided ...     86.0     7445.0
 24  19 - The library resources (e.g. books, online...     88.0     7410.0
 25  20 - I have been able to access course-specifi...     88.0     7404.0
 26                                 Learning community      NaN        NaN
 27  21 - I feel part of a community of staff and s...     70.0     7434.0
 28  22 - I have had the right opportunities to wor...     88.0     7451.0
 29                                      Student voice      NaN        NaN
 30  23 - I have had the right opportunities to pro...     84.0     7447.0
 31  24 - Staff value students’ views and opinions ...     75.0     7434.0
 32  25 - It is clear how students’ feedback on the...     59.0     7407.0
 33                                    Students' union      NaN        NaN
 34  26 - The students’ union (association or guild...     59.0     7168.0

In [3]:
summary_1819.get("England")

,Unnamed: 0,% agree,Responses,% agree.1,Responses.1,% agree.2,Responses.2,% agree.3,Responses.3
0,The teaching on my course,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 - Staff are good at explaining things.,89.0,251764.0,86.0,19630.0,89.0,259777.0,86.0,21234.0
2,2 - Staff have made the subject interesting.,82.0,251586.0,82.0,19661.0,82.0,259593.0,80.0,21227.0
3,3 - The course is intellectually stimulating.,85.0,251659.0,89.0,20002.0,84.0,259704.0,88.0,21553.0
4,4 - My course has challenged me to achieve my ...,81.0,251723.0,84.0,19993.0,81.0,259749.0,84.0,21536.0
5,Learning opportunities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5 - My course has provided me with opportuniti...,84.0,251730.0,85.0,19980.0,84.0,259722.0,85.0,21538.0
7,6 - My course has provided me with opportuniti...,85.0,251561.0,84.0,19931.0,85.0,259638.0,83.0,21501.0
8,7 - My course has provided me with opportuniti...,81.0,251519.0,79.0,19792.0,81.0,259525.0,80.0,21361.0
9,Assessment and feedback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,8 - The criteria used in marking have been cle...,72.0,251630.0,79.0,19995.0,72.0,259640.0,79.0,21550.0
11,9 - Marking and assessment has been fair.,72.0,251484.0,82.0,19966.0,72.0,259514.0,81.0,21523.0
12,10 - Feedback on my work has been timely,74.0,251535.0,82.0,19982.0,74.0,259542.0,82.0,21535.0
13,11 - I have received helpful comments on my work.,73.0,251609.0,84.0,19983.0,74.0,259583.0,85.0,21537.0
14,Academic support,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,12 - I have been able to contact staff when I ...,86.0,251462.0,85.0,19693.0,86.0,259412.0,86.0,21279.0
16,13 - I have received sufficient advice and gui...,78.0,251545.0,80.0,19899.0,78.0,259585.0,79.0,21459.0
17,14 - Good advice was available when I needed t...,75.0,247252.0,74.0,18976.0,75.0,255287.0,75.0,20530.0
18,Organisation and management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,15 - The course is well organised and running ...,69.0,251751.0,76.0,19980.0,70.0,259789.0,76.0,21543.0
20,16 - The timetable works efficiently for me.,78.0,251613.0,79.0,19811.0,78.0,259666.0,78.0,21377.0
21,17 - Any changes in the course or teaching hav...,76.0,249914.0,79.0,18904.0,77.0,257725.0,79.0,20392.0
22,Learning resources,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,18 - The IT resources and facilities provided ...,83.0,250075.0,81.0,19505.0,83.0,257821.0,82.0,20977.0
24,"19 - The library resources (e.g. books, online...",87.0,250140.0,82.0,19389.0,87.0,257983.0,82.0,20899.0
25,20 - I have been able to access course-specifi...,87.0,248291.0,84.0,19226.0,87.0,256086.0,85.0,20765.0
26,Learning community,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,21 - I feel part of a community of staff and s...,70.0,250886.0,57.0,19591.0,69.0,258866.0,56.0,21150.0
28,22 - I have had the right opportunities to wor...,85.0,250522.0,67.0,19123.0,85.0,258595.0,66.0,20641.0
29,Student voice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,23 - I have had the right opportunities to pro...,84.0,250945.0,77.0,19732.0,85.0,258953.0,76.0,21306.0
31,24 - Staff value students’ views and opinions ...,76.0,250575.0,69.0,19442.0,76.0,258576.0,68.0,20982.0
32,25 - It is clear how students’ feedback on the...,62.0,249484.0,47.0,18984.0,62.0,257565.0,47.0,20550.0
33,Students' union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,26 - The students’ union (association or guild...,57.0,240421.0,48.0,16689.0,56.0,248105.0,47.0,18059.0
35,Overall satisfaction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"27 - Overall, I am satisfied with the quality ...",83.0,250575.0,85.0,19941.0,83.0,258603.0,85.0,21503.0

# Cleaning

In [4]:
def weighted_avg(file, idx, left_side):
    if left_side:
        return (file.iloc[idx][1] * file.iloc[idx][2] + file.iloc[idx][3] * file.iloc[idx][4]) / (file.iloc[idx][2]+ file.iloc[idx][4])
    return (file.iloc[idx][5] * file.iloc[idx][6] + file.iloc[idx][7] * file.iloc[idx][8]) / (file.iloc[idx][6]+ file.iloc[idx][8])
    
def clean(file, sheet_name, left_side):
    #optimise so that first columns are dropped after usage so left_side not needed, and copy data so can be run multiple times
    df = file.get(sheet_name).copy()
    df.dropna(axis = "rows", inplace = True) #drop empty rows - just text
    df.reset_index(inplace = True, drop = True) #reset index

    average_pct = []
    response_counts = []
    for i in range(len(df)):
        average_pct.append(weighted_avg(df, i, left_side))
        if left_side:
            response_counts.append(df.iloc[i][2] + df.iloc[i][4])
        else:
            response_counts.append(df.iloc[i][6] + df.iloc[i][8]) 
        
    df.drop(df.columns[[1,2,3,4,5,6,7,8]], axis=1, inplace=True) #drop columns, no longer needed
    df["score"] = average_pct #add score as feature
    
    df = df.T #set transpose as we want Qs af features
    df.rename(columns= lambda x: "Q"+str(x+1), inplace = True) #rename
    df.drop("Unnamed: 0", inplace = True, axis = "rows") #drop question row, now in header
    df.rename(index = {"score": sheet_name}, inplace = True) #keep track of rows
    df["avg_res"] = sum(response_counts)/df.shape[1] #add respsonse count
    
    return df

In [5]:
df_18 = pd.DataFrame()
for sheet in CHOSEN_SHEETS:
    temp_df = clean(summary_1819, sheet, True)
    df_18 = pd.concat([df_18, temp_df])
    
df_21 = pd.DataFrame()
for sheet in CHOSEN_SHEETS:
    temp_df = clean(summary_2122, sheet, True)
    df_21 = pd.concat([df_21, temp_df])

df_19 = pd.DataFrame()
for sheet in CHOSEN_SHEETS:
    temp_df = clean(summary_1819, sheet, False)
    df_19 = pd.concat([df_19, temp_df])
    
df_22 = pd.DataFrame()
for sheet in CHOSEN_SHEETS:
    temp_df = clean(summary_2122, sheet, False)
    df_22 = pd.concat([df_22, temp_df])
    
#take average of two years
summary_1819 = (df_18 + df_19) / 2
summary_2122 = (df_21 + df_22) / 2

#add total row by getting weighted avg and sum of repsonses
values_1819 = []
for i in range(summary_1819.shape[1]-1):
    values_1819.append(sum(summary_1819.iloc[:,i] * summary_1819.iloc[:,-1]) / sum(summary_1819.iloc[:,-1]))
values_1819.append(sum(summary_1819.iloc[:,-1]))

values_2122 = []
for i in range(summary_2122.shape[1]-1):
    values_2122.append(sum(summary_2122.iloc[:,i] * summary_2122.iloc[:,-1]) / sum(summary_2122.iloc[:,-1]))
values_2122.append(sum(summary_2122.iloc[:,-1]))

summary_1819.loc["UK"] = np.array(values_1819)
summary_2122.loc["UK"] = np.array(values_2122)

# Save and load data

In [6]:
summary_1819.to_pickle("data/summary_1819.pkl")
summary_2122.to_pickle("data/summary_2122.pkl")

In [7]:
pd.read_pickle("data/summary_1819.pkl")

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,avg_res
England,88.77816,81.924411,84.800519,81.225215,84.075056,84.886815,80.889026,72.525879,72.712395,74.60084,...,86.632812,86.817193,68.538242,83.659492,83.902753,75.447773,60.91548,55.902584,83.150482,274799.296296
Scotland,89.457671,83.012992,85.54163,80.55478,83.527915,84.040667,78.568853,71.681497,73.16735,65.166609,...,87.430486,87.890169,67.254589,85.835967,86.415676,74.458033,55.403336,52.364461,83.527527,24350.777778
Wales,89.935977,83.503667,84.982081,82.014255,84.407333,85.421609,82.467954,75.067815,75.181148,75.042689,...,86.807669,87.224629,71.852159,85.437866,86.321741,78.964212,64.790899,58.695526,84.920995,16079.574074
Northern Ireland,89.024086,82.205276,85.253734,83.277861,83.700776,85.20134,84.200163,73.878637,74.954569,68.803944,...,88.12664,88.126266,68.900289,88.274402,83.822866,74.552509,59.371378,57.498343,84.522136,7774.462963
UK,88.892944,82.091855,84.876337,81.263357,84.04134,84.857219,80.87241,72.621323,72.923558,73.772077,...,86.737608,86.949874,68.615155,84.02318,84.210696,75.526663,60.655686,55.813295,83.30006,323004.111111

In [8]:
pd.read_pickle("data/summary_2122.pkl")

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,avg_res
England,79.737075,84.147697,77.662464,81.305213,75.903553,79.071665,79.465628,81.224499,76.59048,68.78683,...,74.858694,66.321623,78.887684,68.548402,51.533327,52.771014,52.771014,75.427824,75.427824,277392.405405
Scotland,82.109712,86.462607,80.596142,83.84219,77.596963,79.973417,81.229188,82.6085,76.144778,65.740663,...,77.515323,66.992655,84.077905,68.420797,48.336113,52.010475,52.010475,79.074508,79.074508,25740.797297
Wales,80.525789,85.011885,79.146727,81.53957,76.456929,79.132272,79.015333,81.310633,77.152465,69.522817,...,75.244072,68.246707,80.894096,69.954157,53.914158,55.46916,55.46916,76.422458,76.422458,15153.256757
Northern Ireland,81.095008,85.277551,77.698817,82.520124,78.952124,81.038071,80.047217,82.278878,80.933878,67.921884,...,80.587072,67.513943,79.152724,69.315699,54.198072,56.365123,56.365123,79.418958,79.418958,7575.351351
UK,79.992741,84.397011,77.96407,81.544757,76.133924,79.191428,79.597518,81.362342,76.682378,68.560322,...,75.219638,66.491868,79.397139,68.62153,51.45343,52.919959,52.919959,75.854922,75.854922,325861.810811