# Imports

In [26]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
plt.style.use('ggplot') #https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html

# Get the data

In [27]:
unis_1819 = pd.read_pickle("data/unis_1819.pkl")
unis_2122 = pd.read_pickle("data/unis_2122.pkl")
summary_1819 = pd.read_pickle("data/summary_1819.pkl")
summary_2122 = pd.read_pickle("data/summary_2122.pkl")
course_1819 = pd.read_pickle("data/course_1819.pkl")
course_2122 = pd.read_pickle("data/course_2122.pkl")

In [28]:
summary_2122.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,avg_res
England,79.737075,84.147697,77.662464,81.305213,75.903553,79.071665,79.465628,81.224499,76.590480,68.786830,...,74.858694,66.321623,78.887684,68.548402,51.533327,52.771014,52.771014,75.427824,75.427824,277392.405405
Scotland,82.109712,86.462607,80.596142,83.842190,77.596963,79.973417,81.229188,82.608500,76.144778,65.740663,...,77.515323,66.992655,84.077905,68.420797,48.336113,52.010475,52.010475,79.074508,79.074508,25740.797297
Wales,80.525789,85.011885,79.146727,81.539570,76.456929,79.132272,79.015333,81.310633,77.152465,69.522817,...,75.244072,68.246707,80.894096,69.954157,53.914158,55.469160,55.469160,76.422458,76.422458,15153.256757
Northern Ireland,81.095008,85.277551,77.698817,82.520124,78.952124,81.038071,80.047217,82.278878,80.933878,67.921884,...,80.587072,67.513943,79.152724,69.315699,54.198072,56.365123,56.365123,79.418958,79.418958,7575.351351
UK,79.992741,84.397011,77.964070,81.544757,76.133924,79.191428,79.597518,81.362342,76.682378,68.560322,...,75.219638,66.491868,79.397139,68.621530,51.453430,52.919959,52.919959,75.854922,75.854922,325861.810811

# EDA

### By country

In [30]:
summary_1819.describe()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,avg_res
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,89.217767,82.547640,85.090860,81.667094,83.950484,84.881530,81.399681,73.155030,73.787804,71.477232,...,87.147043,87.401626,69.032087,85.446181,84.934746,75.789838,60.227356,56.054842,83.884240,129201.644444
std,0.476879,0.678953,0.304907,1.038099,0.344021,0.524793,2.093817,1.326115,1.182279,4.321636,...,0.629920,0.578953,1.699073,1.828116,1.317426,1.841712,3.372194,2.385233,0.788778,155959.080979
min,88.778160,81.924411,84.800519,80.554780,83.527915,84.040667,78.568853,71.681497,72.712395,65.166609,...,86.632812,86.817193,67.254589,83.659492,83.822866,74.458033,55.403336,52.364461,83.150482,7774.462963
25%,88.892944,82.091855,84.876337,81.225215,83.700776,84.857219,80.872410,72.525879,72.923558,68.803944,...,86.737608,86.949874,68.538242,84.023180,83.902753,74.552509,59.371378,55.813295,83.300060,16079.574074
50%,89.024086,82.205276,84.982081,81.263357,84.041340,84.886815,80.889026,72.621323,73.167350,73.772077,...,86.807669,87.224629,68.615155,85.437866,84.210696,75.447773,60.655686,55.902584,83.527527,24350.777778
75%,89.457671,83.012992,85.253734,82.014255,84.075056,85.201340,82.467954,73.878637,74.954569,74.600840,...,87.430486,87.890169,68.900289,85.835967,86.321741,75.526663,60.915480,57.498343,84.522136,274799.296296
max,89.935977,83.503667,85.541630,83.277861,84.407333,85.421609,84.200163,75.067815,75.181148,75.042689,...,88.126640,88.126266,71.852159,88.274402,86.415676,78.964212,64.790899,58.695526,84.920995,323004.111111

In [31]:
summary_2122.describe()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,avg_res
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,80.692065,85.059350,78.613644,82.150371,77.008699,79.681371,79.870977,81.756970,77.500796,68.106503,...,76.684960,67.113359,80.481910,68.972117,51.887020,53.907146,53.907146,77.239734,77.239734,130344.724324
std,0.948788,0.906752,1.262743,1.055119,1.266292,0.842499,0.843655,0.639524,1.952220,1.441009,...,2.422527,0.786227,2.155580,0.649779,2.364968,1.893689,1.893689,1.869765,1.869765,157427.226290
min,79.737075,84.147697,77.662464,81.305213,75.903553,79.071665,79.015333,81.224499,76.144778,65.740663,...,74.858694,66.321623,78.887684,68.420797,48.336113,52.010475,52.010475,75.427824,75.427824,7575.351351
25%,79.992741,84.397011,77.698817,81.539570,76.133924,79.132272,79.465628,81.310633,76.590480,67.921884,...,75.219638,66.491868,79.152724,68.548402,51.453430,52.771014,52.771014,75.854922,75.854922,15153.256757
50%,80.525789,85.011885,77.964070,81.544757,76.456929,79.191428,79.597518,81.362342,76.682378,68.560322,...,75.244072,66.992655,79.397139,68.621530,51.533327,52.919959,52.919959,76.422458,76.422458,25740.797297
75%,81.095008,85.277551,79.146727,82.520124,77.596963,79.973417,80.047217,82.278878,77.152465,68.786830,...,77.515323,67.513943,80.894096,69.315699,53.914158,55.469160,55.469160,79.074508,79.074508,277392.405405
max,82.109712,86.462607,80.596142,83.842190,78.952124,81.038071,81.229188,82.608500,80.933878,69.522817,...,80.587072,68.246707,84.077905,69.954157,54.198072,56.365123,56.365123,79.418958,79.418958,325861.810811