# Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
plt.style.use('ggplot') #https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html
%matplotlib inline

D:\anaconda\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
D:\anaconda\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
D:\anaconda\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

# Get the data

In [2]:
data_bench = pd.read_pickle("data/course_and_uni_1819.pkl")
data_covid = pd.read_pickle("data/course_and_uni_2122.pkl")

In [3]:
data_bench

,uni,course,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,ACM Guildford Limited,"Design, and creative and performing arts",0.807250,0.68250,0.51025,0.50355,0.651650,0.658200,0.654250,0.52195,...,0.612150,0.53395,0.643250,0.59545,0.75470,0.65185,0.617850,0.429400,0.368450,0.50085
1,AECC University College,Subjects allied to medicine,0.944450,0.90835,1.00000,0.83890,0.811100,0.858350,0.972200,0.66945,...,0.888900,0.98610,0.986100,0.91665,0.97220,0.82500,0.671450,0.444450,0.830550,0.87500
2,ALRA,"Design, and creative and performing arts",0.928550,0.92955,0.95275,0.96110,0.911000,0.939750,0.942550,0.65515,...,0.527250,0.65605,0.859050,0.94995,0.96110,0.92215,0.880350,0.880350,0.815900,0.92120
3,Aberystwyth University,"Agriculture, food and related studies",0.980925,0.88655,0.87435,0.82560,0.858525,0.915825,0.826375,0.84610,...,0.939425,0.90250,0.909075,0.74730,0.85045,0.86130,0.748725,0.685475,0.556975,0.92330
4,Aberystwyth University,Biological and sport sciences,0.956200,0.91390,0.92010,0.85765,0.931550,0.912400,0.899300,0.82725,...,0.937450,0.91200,0.924250,0.74590,0.95465,0.93755,0.873950,0.790100,0.580100,0.91370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,University of the Highlands and Islands,"Historical, philosophical and religious studies",0.947150,0.89300,0.90020,0.78180,0.876150,0.885600,0.711200,0.78450,...,0.770800,0.76715,0.791650,0.50600,0.56215,0.89870,0.767650,0.600800,0.345350,0.90125
1494,University of the Highlands and Islands,Language and area studies,1.000000,1.00000,1.00000,1.00000,0.988100,1.000000,0.913950,0.94050,...,0.913950,1.00000,0.975000,0.82310,0.75910,0.97620,0.964300,0.842500,0.543200,0.96430
1495,University of the Highlands and Islands,Psychology,0.896850,0.91665,0.89685,0.89285,0.924600,0.892850,0.816650,0.86905,...,0.920650,0.84920,0.849200,0.61505,0.60555,0.97220,0.797600,0.619050,0.555600,0.89285
1496,University of the Highlands and Islands,Social sciences,0.855250,0.85455,0.90405,0.83660,0.906550,0.874050,0.746350,0.82460,...,0.784750,0.77125,0.744000,0.52205,0.58090,0.85455,0.741700,0.481300,0.398550,0.85170
1497,University of the Highlands and Islands,Subjects allied to medicine,0.986500,1.00000,0.95945,0.92375,0.923750,0.874500,0.986500,0.79825,...,0.888000,0.86580,0.816600,0.84270,0.90150,0.80755,0.852300,0.654800,0.709800,0.92375

In [4]:
data_covid

,uni,course,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,ACM Guildford Limited,"Design, and creative and performing arts",0.72950,0.668900,0.565650,0.565150,0.59605,0.652600,0.59180,0.58430,...,0.50790,0.50445,0.521250,0.43700,0.613100,0.49255,0.557050,0.29470,0.286700,0.44585
1,AECC University College,Subjects allied to medicine,0.71025,0.645650,0.832950,0.664650,0.53340,0.669700,0.74945,0.51245,...,0.70740,0.81675,0.676500,0.67485,0.857500,0.62305,0.324250,0.25405,0.500900,0.48010
2,Abertay University,"Agriculture, food and related studies",0.97405,0.921700,0.934850,0.884200,0.92305,0.883450,0.88355,0.88485,...,0.87235,0.92105,0.907050,0.75660,0.922350,0.93555,0.858550,0.82040,0.653550,0.89670
3,Abertay University,Biological and sport sciences,0.92635,0.887000,0.858350,0.818400,0.86395,0.828150,0.77495,0.82315,...,0.82210,0.79380,0.813400,0.60250,0.723500,0.87595,0.813150,0.61340,0.507050,0.84730
4,Abertay University,Business and management,0.86455,0.739600,0.724100,0.803850,0.76565,0.833000,0.74735,0.71620,...,0.83470,0.80735,0.821450,0.56400,0.847150,0.81870,0.646450,0.49450,0.468450,0.78885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1538,University of the Highlands and Islands,Language and area studies,0.94600,0.914750,0.968750,0.883500,0.92330,0.931800,0.94600,0.80115,...,0.83480,0.88790,0.825900,0.59820,0.589450,0.89730,0.889900,0.50300,0.511900,0.92115
1539,University of the Highlands and Islands,Medicine and dentistry,0.87065,0.877650,0.954550,0.954550,0.95455,0.954550,0.91610,0.66435,...,0.86365,0.64335,0.825200,0.80070,0.954550,0.95455,0.793700,0.54895,0.494950,0.91610
1540,University of the Highlands and Islands,Psychology,0.84245,0.809100,0.954550,0.775750,0.87575,0.875750,0.76365,0.73030,...,0.83335,0.87575,0.832200,0.61820,0.592850,0.85455,0.763650,0.52725,0.651550,0.80910
1541,University of the Highlands and Islands,Social sciences,0.87100,0.834000,0.867000,0.779650,0.89800,0.867000,0.76905,0.76945,...,0.76015,0.77585,0.741400,0.48065,0.487150,0.86550,0.719750,0.50315,0.476300,0.80950
1542,University of the Highlands and Islands,Subjects allied to medicine,0.81815,0.802525,0.744825,0.730325,0.68060,0.789125,0.78410,0.77310,...,0.68610,0.71790,0.703725,0.58745,0.697425,0.78885,0.588525,0.51270,0.489075,0.68465

In [6]:
#drop not needed columns - no point in keeping uni and course as we don't have future data (duh)
data_bench.drop(["uni","course"],inplace = True, axis = "columns")
data_covid.drop(["uni","course"], inplace = True, axis = "columns")

In [9]:
data_bench.head()

,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,0.807250,0.68250,0.51025,0.50355,0.651650,0.658200,0.654250,0.52195,0.600400,0.444250,...,0.612150,0.53395,0.643250,0.59545,0.75470,0.65185,0.617850,0.429400,0.368450,0.50085
1,0.944450,0.90835,1.00000,0.83890,0.811100,0.858350,0.972200,0.66945,0.500000,0.366650,...,0.888900,0.98610,0.986100,0.91665,0.97220,0.82500,0.671450,0.444450,0.830550,0.87500
2,0.928550,0.92955,0.95275,0.96110,0.911000,0.939750,0.942550,0.65515,0.658750,0.782150,...,0.527250,0.65605,0.859050,0.94995,0.96110,0.92215,0.880350,0.880350,0.815900,0.92120
3,0.980925,0.88655,0.87435,0.82560,0.858525,0.915825,0.826375,0.84610,0.755275,0.670325,...,0.939425,0.90250,0.909075,0.74730,0.85045,0.86130,0.748725,0.685475,0.556975,0.92330
4,0.956200,0.91390,0.92010,0.85765,0.931550,0.912400,0.899300,0.82725,0.815500,0.821600,...,0.937450,0.91200,0.924250,0.74590,0.95465,0.93755,0.873950,0.790100,0.580100,0.91370

# Algorithms

#### Logistic regression