# Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
plt.style.use('ggplot') #https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html
%matplotlib inline

D:\anaconda\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
D:\anaconda\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
D:\anaconda\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

# Get the data

In [2]:
unis_1819 = pd.read_pickle("data/unis_1819.pkl")
unis_2122 = pd.read_pickle("data/unis_2122.pkl")
course_1819 = pd.read_pickle("data/course_1819.pkl")
course_2122 = pd.read_pickle("data/course_2122.pkl")

# Pre-process

In [4]:
unis_1819

,University,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,University of Aberdeen,91.345,84.160,88.010,80.060,85.455,83.625,76.190,72.820,77.140,...,84.495,90.445,90.810,72.345,87.335,90.275,78.440,58.760,44.100,86.645
1,Abertay University,90.895,84.025,82.300,80.950,83.200,85.370,78.330,77.285,76.705,...,87.470,88.060,89.715,68.865,86.465,88.630,76.885,59.520,53.505,82.965
2,Aberystwyth University,95.120,89.995,90.100,85.585,89.530,89.910,86.170,84.175,82.035,...,91.680,91.530,91.270,75.230,88.050,89.925,85.540,77.150,58.170,90.470
3,Abingdon and Witney College,94.310,92.630,91.380,87.960,84.600,88.250,82.260,78.610,82.040,...,75.910,75.335,83.585,71.545,89.340,86.545,87.170,72.340,47.770,89.215
4,ACM Guildford Limited,80.725,68.250,51.025,50.355,65.165,65.820,65.425,52.195,60.040,...,61.215,53.395,64.325,59.545,75.470,65.185,61.785,42.940,36.845,50.085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,University of York,92.190,86.290,88.200,78.945,86.855,85.240,78.855,73.815,75.710,...,88.830,88.955,90.175,67.375,84.395,88.740,76.945,58.905,42.825,86.635
349,York College,88.030,82.215,77.800,77.185,73.715,76.060,78.795,71.130,79.185,...,67.935,74.605,70.590,65.855,76.210,72.150,74.320,52.810,36.535,75.000
350,York St John University,91.440,85.700,83.405,80.440,86.385,85.280,82.690,76.280,72.990,...,86.140,88.790,86.960,71.890,85.160,87.645,80.175,62.745,56.920,85.470
351,Hull and York Medical School,83.010,86.460,92.515,78.320,80.010,80.805,93.295,62.615,62.110,...,78.320,91.735,91.980,79.100,91.225,84.935,54.185,41.100,49.440,76.725
352,Brighton and Sussex Medical School,95.605,95.885,97.265,94.330,92.430,94.735,98.415,86.975,86.025,...,89.270,95.045,96.460,91.520,96.040,96.630,92.235,88.505,68.150,97.345